{
  "extends": "@vkontakte/eslint-config/typescript/react",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "no-inline-comments": 0,
    "spaced-comment": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "curly": 0,
    "no-duplicate-imports": 0,
    "react-hooks/rules-of-hooks": 0
  }
}
